body{
    background: url(./assets/graphy.png) repeat;
}

.keyboard{
    text-align: center;
}

.inline{
    display: inline;
}

#start{
    top: 45%;
    right: 46%;
    z-index: 1000;
}

#underline, #clue, #guessdiv{
    font-size: 40px;
    padding: 20px;
}

#word{
    text-align: center;
}